<h1>Welcome to Simple Search</h1>
<div>
  <h3>What is it?</h3>
  <p>Simple Search is a very basic app that demonstrates searching through a collection of images based on tags.</p>
  <h3>How is it made?</h3>
  <p>Simple Seach was created using an Angular front end combined with a C# back end connected to MySQL for storing and retreiving image data. All images are
    saved within the app, however the app could easily be changed to deal with images saved on a seperate server.</p>
  <h3>How to use:</h3>
  <p>The Images page will display all images available on the app when first navigated to. Enter in a tag you wish to search for and press the search button. The app will
    either filter the results and display any images with a matching tag, or explain that there are no images that match the given tag.</p>
</div>
